    .block {
      border: 1px solid rgb(192, 192, 192);
      margin: 0px;
      display: inline-block;
      cursor: crosshair;
      -webkit-user-select: none;
    }
    div {
      margin: 0px;
    }
    .row {
      overflow: hidden;
    }
    .graph {
      margin: 3px;
      overflow: hidden;
      white-space: nowrap;
      -webkit-user-select: none;
    }
    #floatinginput {
       position: absolute;
       display: none;
     }
    .addcolumn {
      position: absolute;
      width: 30px;
      right: -30px;
      height: 100%;
      top: 0px;
    }
    .addcolumnbutton {
      background: red;
      height: 100%;
      width: 30px;
      display: none;
    }
    .addrow {
	      position: absolute;
	      height: 30px;
	      bottom: -30px;
	      width: 100%;
	}
	.addrowbutton {
	      background: red;
	      width: 100%;
	      height: 30px;
	      display: none;
	}

    #graphcontainer {
      position: absolute;
    }
    .shade {
      width: 25px;
      height: 25px;
      display: inline-block;
      margin: 2px;
      cursor: pointer;
      box-shadow: #666 2px 2px 2px;
      vertical-align: top;
    }
    #exitbutton {
      padding: 2px;
      cursor: pointer;
      position: absolute;
      top: 2px;
      right: 2px;
      text-transform: uppercase;
    }
    #exitbutton:hover {
      background: rgb(198, 198, 198);
      color: rgb(100, 10, 10);
    }
    .shade:hover {
      width: 25px;
      height: 25px;
      border: 1px solid blue;
    }
    input {
      width: 100px;
      padding: 2px;
      outline: none;
      border: 1px solid black;
    }
    input:hover {
      border: 1px solid blue;
    }
    #palette {
      padding: 5px;
      height: 35px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 49%, #207cca 59%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(49%,#2989d8), color-stop(59%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    }
    #options {
      text-align: right;
    }
    .options {
      display: inline-block;
    }
    .selected_color {
      border: 2px solid black;
      width: 21px;
      height: 21px;
    }
    #new_shade {

    }
    .panel {
      display: inline-block;
      border: 1px solid black;
      padding: 5px;
      vertical-align: top;
      position: relative;
      background: rgb(255, 255, 255)
      min-height: 105px;
    }
    #backdrop {
       background: rgba(242, 198, 242, 0.6);
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0px;
       left: 0px;
       z-index: 70;
       display: none;
    }
    .button {
      display: inline-block;
      box-shadow: #777 2px 2px 2px;
      cursor: pointer;
      max-width: 80px;
      padding: 3px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      -webkit-user-select: none;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 49%, #207cca 59%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(49%,#2989d8), color-stop(59%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 49%,#207cca 59%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
    .selected_button {
      border: 2px solid rgb(74, 74, 74)
    }
